  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
              200brands.com is an Appeal Multi brand retail store,specialized in sourcing original products with great deals. 200 Brands LLC started in 2018 in the state of Florida by online and a physical store, in 2019 the start was the the First store in dubai, and now with an online and physical store in Egypt.
        
        </p>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6></h6>
            <ul class="footer-links">
 
            </ul>
          </div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Osama Ahmed</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/osama.ahmed2014/" target="blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/osama_shahwan"target="blank"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/osamaahmed94"target="blank"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>