.custom-slider-main{
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
}


.sectionclient {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: none;
    color: #328beb;
    font-size: 28px;
    line-height: 0px;
    font-weight: 300;
    letter-spacing: 0px;
}
