<p class="d-flex justify-content-center pt-4 sectionclient" >
    Our Partners
  </p>
  <!-- <carousel [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="false"
  [interval]="false"
  [indicatorsByChunk]="true">
<slide *ngFor="let slide of slides; let index=index">
<img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
</slide>
</carousel> -->

  <div class="pull-left mt-sm">
    <i class="icon-arrow-left pointer"></i>
</div>   

<div #widgetsContent class="d-flex justify-content-center pt-4 custom-slider-main">
<div class="info-box">
<img src="assets/images/client7.png" class="info-box"style="display: block; width: 100%;">
</div>
<div class="info-box">
<img src="assets/images/client6.png" class="info-box"style="display: block; width: 100%;">
</div>
<div class="info-box">
<img src="assets/images/client2.png" class="info-box"style="display: block; width: 100%;">
</div>
<div class="info-box">
<img src="assets/images/client3.png" class="info-box"style="display: block; width: 100%;">
</div>
<div class="info-box">
<img src="assets/images/client4.png" class="info-box"style="display: block; width: 100%;">
</div>
<div class="info-box">
<img src="assets/images/client5.png" class="info-box"style="display: block; width: 100%;">
</div>
</div>

<div class="pull-right mt-sm">
<i class="icon-arrow-right pointer"></i>
</div>